services:
  website-builder:
    build: .
    volumes:
      - /srv/apps/mypixelboxwebsite:/srv/apps/mypixelboxwebsite
      - /var/run/docker.sock:/var/run/docker.sock
      - ./logs:/app/logs  # 将容器内的日志目录映射到主机
    environment:
      - BUILD_INTERVAL=86400
    restart: unless-stopped
    command: ["/app/build-and-deploy.sh"]

  nginx:
    image: nginx:alpine
    ports:
      - "8081:80"      # 使用8081端口而不是80端口
      - "8443:443"     # 使用8443端口而不是443端口
      - "8080:8080"
    volumes:
      - /srv/apps/mypixelboxwebsite/dist:/usr/share/nginx/html:ro
      - /srv/apps/mypixelboxwebsite/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - website-builder
    restart: unless-stopped