services:
  website-builder:
    build: .
    volumes:
      - /srv/apps/mypixelboxwebsite:/srv/apps/mypixelboxwebsite
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - BUILD_INTERVAL=86400
    restart: unless-stopped
    command: ["/app/build-and-deploy.sh"]

  nginx:
    image: nginx:alpine
    ports:
      - "8081:80"      # 将主机的8081端口映射到容器的80端口
      - "8443:443"     # 将主机的8443端口映射到容器的443端口
      - "8080:8080"
    volumes:
      - /srv/apps/mypixelboxwebsite/dist:/usr/share/nginx/html:ro
      - /srv/apps/mypixelboxwebsite/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - website-builder
    restart: unless-stopped